html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  color: rgb(28, 28, 30);
}

a {
  color: #6772e5;
  -ms-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  text-decoration: none;
}

a:hover {
  color: #02203C;
  cursor: pointer;
}

p {
  z-index: 1;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
}

#main {
  height: 100%;
}

@media (max-width:700px){
  #greetingContainer {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 1%;
    right: 1%;
    margin: 0 auto;
    width: 320px;
    height: 120px;
    padding: 5px;
  } 
}
@media (min-width:700px) {
  #greetingContainer {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 1%;
    right: 1%;
    margin: 0 auto;
    width: 320px;
    height: 120px;
  } 
}

#greeting {
  position: absolute;
  z-index: 1;
  font-size: 2.5em;
  left: 1%;
  font-family: 'Ubuntu', sans-serif;
}

#name {
  position: absolute;
  z-index: 1;
  font-size: 1.25em;
  top: 40%;
  left: 19%;
}

#mainIcons {
  position: absolute;
  bottom: 0%;
  left: 44%;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

ul > li {
  display: inline-block;
  list-style: none;
  position: relative;
  z-index: 1;
  padding: 0 4px 0 4px;
}

ul > li > a > img {
  width: 1.6vw;
  cursor: pointer;
}

#mainIcons > li > a > img {
  width: 30px;
}

#contentIcons {
  padding-top: 5px;
  padding-left: 0px;
}

#contentIcons > li > a > img {
  width: 40px
}

ul > li > a > img:hover {
  transform: scale(1.1);
}

a > img:hover {
  transform: scale(1.1);
}

@media (max-width:700px) {
  #introduction {
    position: absolute;
    top: 30%;
    left: 1%;
    right: 1%;
    margin: 0 auto;
  }
}
@media (min-width:700px) {
  #introduction {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 37%;
  }
}

#introContent {
  padding: 5px;
}

.contentArrow {
  text-align: center;
  padding-top: 5px;
}

#introContent > p {
  margin-bottom: 20px;
}

#selfContainer {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 12%;
}

#self {
  border-radius: 5px;
  width: 22vw;
}

figcaption {
  font-size: 14px;
}

.content {
  padding-bottom: 50px;
}

@media (max-width:1600px) {
  .grid-container-left {
    display: grid;
    grid-template-columns: auto;
    padding-top: 25px;
  }

  .card {
    border-radius: 0px;
    background-color: #ffffff1f;
  }

  .btn {
    border-radius: 0px;
  }
}

@media (min-width:1600px) {
  .grid-container-left {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 40px 50px 0px 150px;
    padding-bottom: 25px;
  }

  .card {
    border-radius: 0px;
    margin-right: 15px;
    background-color: #ffffff1f;
  }

  .btn {
    border-radius: 0px;
    margin-right: 15px;
  }
}

@media (max-width:1600px) {
  .grid-container-right {
    display: grid;
    grid-template-columns: auto;
    padding-top: 25px;
  }

  .card {
    border-radius: 0px;
    background-color: #ffffff1f;
  }

  .btn {
    border-radius: 0px;
  }
}

@media (min-width:1600px) {
  .grid-container-right {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 40px 50px 0px 150px;
    padding-bottom: 25px;
  }

  .card {
    border-radius: 0px;
    margin-right: 15px;
    background-color: #ffffff1f;
  }

  .btn {
    border-radius: 0px;
    margin-right: 15px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
}

.grid-item-footer {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}


.card-img, .card-img-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.contentSection {
  background-color: #fafafa;
  background-image: url("../assets/content-background.png");
  background-size: cover;
}

.content {
  padding-top: 10px;
  padding-bottom: 10px;
}

#grad1 {
  height: 200px;
  background-color: #fafafa; /* For browsers that do not support gradients */
  background-image: linear-gradient(#fafafa, #E2E2E2); /* Standard syntax (must be last) */
}

.badge {
  margin-bottom: 7px;
}